/* text-align => center,right,left,justify */
/* text-decoration => none,overline,underline,line-through */
/* text-transform => uppercase,lowercase,capitalize  */
/* letter-spacing => 20px */
/* word-spacing => 20px */
/* line-height => 20px  */
/* white-space => nowrap  */

/* font-family: "Blackadder ITC"; */
/* font-style: italic; */
/* font-size: 50px; */
/* font-weight: bold; */

.text {
  color: red;
  background-color: pink;
  /* text-align: center; */
  /* text-align: right; */
  /* text-align: left; */
}

p {
  /* text-align: justify; */
  /* word-spacing: 30px; */
  /* line-height: 50px; */
  /* white-space: nowrap; */
  /* font-family: "Blackadder ITC"; */
  /* font-family: "Monoton"; */
  font-family:  "Playfair Display", serif;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
}

h1 {
  /* text-decoration: line-through; */
  /* text-transform: uppercase; */
  /* letter-spacing: 100px; */
  /* word-spacing: 100px; */
}

a {
  text-decoration: none;
  color: red;
}

/* sans-serif
serif
monospace */

.sans-serif{
  font-family: sans-serif;
}

.serif{
  font-family: serif;
}

.monospace{
  font-family: monospace;
}

.icon{
  font-size: 50px;
  color: orange;
}

@font-face {
  font-family: myFirstFont;
  src: url("./font/Dangernight-vnZ5y.otf");
}

@font-face {
  font-family: mySecondFont;
  src: url("./font/FlorisaPersonalUse-nRm84.otf");
}

h3{
  font-family: mySecondFont;
}