/* component class */
.btn-dark{
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

/* utilities class */
.bg-dark{
    background-color: black;
}

.text-white{
    color: white;
}

.border-black{
    border: 1px solid black;
}

.w-100{
    width: 100px;
}

.h-40{
    height: 40px;
}

.rounded{
    border-radius: 10px;
}

